defaults:
    - task: BYOL-dgcnn-cls
    - task_model: ${defaults.0.task}

hydra:
  run:
    dir: outputs/${task_model.name}

gpus: 
    - 0
    - 1

optimizer: ??

task_model: ??

distrib_backend: dp
